# 수업(2/10)

### 문자열 연산하기

In [1]:
a = "Hello! "
b = "Python!"
print(a + b)

Hello! Python!

In [2]:
a * 3

'Hello! Hello! Hello! '

In [3]:
a = "26"
b = "3"
a + b

'263'

In [4]:
a * 3

'262626'

In [5]:
#자료형이 다른 유형끼리 연산을 수행하면 에러발생!

### 문자열 인덱싱과 슬라이싱

In [7]:
a = "Hello Python!"

In [8]:
a[-1]

'!'

In [9]:
a[3]

'l'

In [10]:
a[:-2]

'Hello Pytho'

In [11]:
a = "Life"
b = a[:2] + "v" + a[-1]
print(b)

Live

### 문자열 포맷팅

In [12]:
"I eat %s bananas." %3

'I eat 3 bananas.'

In [14]:
"I eat %s bananas." %"three"

'I eat three bananas.'

In [15]:
color = 'white'
"I eat %s eggs" %color

'I eat white eggs'

### 문자열 함수

In [16]:
test = "I need {} eggs.".format("white")

In [17]:
test

'I need white eggs.'

### count(), find(), index(), join(), upper(), lower(), split(), replace() 함수

In [18]:
a = "I eat banana"
a.count("n")

2

In [19]:
print(a.find("n"))
print(a.index("n"))

8
8

In [20]:
b = ",".join("fruit")
print(b)

f,r,u,i,t

In [23]:
a = "Hello"
print(a.upper())
print(a.lower())

HELLO
hello

In [24]:
a = "I eat banana"
print(a.split())

['I', 'eat', 'banana']

In [25]:
print(a.replace("a", "b", 1))
print(a.replace("a", "b"))

I ebt banana
I ebt bbnbnb

### 불(Bool)

In [26]:
print(1 == 1)
print(11 > 16)

True
False

In [27]:
print(bool("python"))
print(bool(None))

True
False

## 2.3 복합 자료형

### 리스트

In [28]:
a = [3, 6, 9]
b = [2, 4, 6]
print(a + b)
print(a * 3)

[3, 6, 9, 2, 4, 6]
[3, 6, 9, 3, 6, 9, 3, 6, 9]

### 리스트 인덱싱과 슬라이싱

In [30]:
test = [75, 69, 95, 84, 89]
food = ["milk", "juice", "rice", "soup", "cookie"]
print(test[2])
print(food[3:5])

95
['soup', 'cookie']

### 리스트 변경과 삭제

In [31]:
a = [1, 3, 5, 7, 6, 2, 4]
a[3] = 8
print(a)

[1, 3, 5, 8, 6, 2, 4]

In [32]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
del a[3]
print(a)

[1, 2, 3, 5, 6, 7, 8]

### 리스트 함수( append() - 추가, insert() - 삽입, remove() - 삭제 )

In [33]:
a = [1, 2, 3, 4, 5]
a.append(6)
print(a)

[1, 2, 3, 4, 5, 6]

In [34]:
a.insert(2, 10)
print(a)

[1, 2, 10, 3, 4, 5, 6]

In [35]:
a.remove(2)
print(a)

[1, 10, 3, 4, 5, 6]

### sort(), reverse(), pop(), extend() 함수

In [37]:
a = [2, 1, 4, 3, 6, 5]
a.sort()
print(a)

[1, 2, 3, 4, 5, 6]

In [38]:
a.reverse()
print(a)

[6, 5, 4, 3, 2, 1]

In [39]:
print(a.pop())
print(a)

1
[6, 5, 4, 3, 2]

In [40]:
a.extend([10, 20, 30])
print(a)

[6, 5, 4, 3, 2, 10, 20, 30]

### 튜플

In [41]:
tp1 = (1, 2, 3, "a", "b", "c")
tp2 = (4, 5, 6)
print(tp1 + tp2)
print(tp1 * 2)

(1, 2, 3, 'a', 'b', 'c', 4, 5, 6)
(1, 2, 3, 'a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c')

### 딕셔너리

In [51]:
dict1 = {"name" : "Lee", "age" : 25, "birth" : "0331"}
dict2 = {1 : "ab"}
dict3 = {"test" : [1, 3, 5, 7]}

### 딕셔너리 자료 추가 및 삭제

In [52]:
print(dict1["name"])

Lee

In [53]:
print(dict3["test"])

[1, 3, 5, 7]

In [54]:
dict3["test"] = [10, 20]
print(dict3)

{'test': [10, 20]}

In [55]:
dict3["test2"] = [50, 70]
print(dict3)

{'test': [10, 20], 'test2': [50, 70]}

In [56]:
del dict3["test2"]
print(dict3)

{'test': [10, 20]}