# 수업(3/10)

### 딕셔너리 함수

#### keys(), values() 함수

In [3]:
dict = {"name":"Song", "age":25, "birth":"0331"}
print(dict.keys())
print(dict.values())

dict_keys(['name', 'age', 'birth'])
dict_values(['Song', 25, '0331'])

### item(), clear() 함수

In [5]:
dict.items()

dict_items([('name', 'Song'), ('age', 25), ('birth', '0331')])

In [6]:
print("age" in dict)

True

In [7]:
dict.clear()
print(dict)

{}

### 집합 (set)

In [10]:
#숫자는 오르차순, 문자는 랜덤으로 출력 (둘다 중복은 제거됨)

In [8]:
set1 = set([1, 3, 2, 7, 5, 4, 6, 3])
print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [9]:
set2 = set("hello world!")
print(set2)

{'o', 'h', ' ', 'r', 'd', '!', 'e', 'w', 'l'}

In [12]:
# 교집합(&), 합집합(|), 차집합(-)

In [11]:
set1 = set([1, 2, 3, 4, 5, 6, 7])
set2 = set([5, 6, 7, 8, 9, 10, 11])
print(set1 & set2)
print(set1 | set2)
print(set1 - set2)
print(set2 - set1)

{5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{1, 2, 3, 4}
{8, 9, 10, 11}

In [14]:
#add() - 추가, update() - 여러 개의 데이터 추가, remove() - 특정 데이터 삭제

In [15]:
set1 = set([1, 2, 7, 10])
set1.add(3)
set1

{1, 2, 3, 7, 10}

In [16]:
set1.update([6, 8])
set1

{1, 2, 3, 6, 7, 8, 10}

In [17]:
set1.remove(6)
set1

{1, 2, 3, 7, 8, 10}

# chapter 03 제어문과 함수

## 3.1 제어문

### if 문으로 짝수/홀수 판단하기

In [18]:
x = 3
if(x % 2 == 0):
    print("x는 짝수입니다.")
else:
    print("x는 홀수입니다.")

x는 홀수입니다.

In [22]:
르세라핌 = ["사쿠라", "채원", "윤진", "카즈하", "은채"]
member = "카즈하"

if member in 르세라핌:
    print(member + "는 멤버임")
else:
    print(member + "는 멤버가 아님")

카즈하는 멤버임

### while 문

In [24]:
i = 1
sum = 0

while(i <= 100):
    sum += i;
    i += 1;

print(sum)

5050

### break 문

In [25]:
egg = 5
i = 1
sum = 0

while i <= 100:
    sum += i;
    i += 1;
    egg -= 1;
    
    if egg == 0:
        break

print(sum)
print(egg)
print(i)

15
0
6

### continue 문

In [28]:
i = 0

while i < 10:
    i += 1;
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

### for 문

In [29]:
for i in 르세라핌:
    print(i)

사쿠라
채원
윤진
카즈하
은채

### range() 함수 활용

In [31]:
a = list(range(1, 10))
b = list(range(1, 10, 2))
c = list(range(10, 1, -1))

print(a)
print(b)
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [39]:
sum = 0

for i in range(1, 101):
    sum += i

print(sum)

5050

### 중첩 for 문

In [55]:
for x in range(2, 10):
    for y in range(1, 10):
        print("{} * {} = {}".format(x, y, x*y), "\t", end="")
    print(" ")

2 * 1 = 2 	2 * 2 = 4 	2 * 3 = 6 	2 * 4 = 8 	2 * 5 = 10 	2 * 6 = 12 	2 * 7 = 14 	2 * 8 = 16 	2 * 9 = 18
3 * 1 = 3 	3 * 2 = 6 	3 * 3 = 9 	3 * 4 = 12 	3 * 5 = 15 	3 * 6 = 18 	3 * 7 = 21 	3 * 8 = 24 	3 * 9 = 27
4 * 1 = 4 	4 * 2 = 8 	4 * 3 = 12 	4 * 4 = 16 	4 * 5 = 20 	4 * 6 = 24 	4 * 7 = 28 	4 * 8 = 32 	4 * 9 = 36
5 * 1 = 5 	5 * 2 = 10 	5 * 3 = 15 	5 * 4 = 20 	5 * 5 = 25 	5 * 6 = 30 	5 * 7 = 35 	5 * 8 = 40 	5 * 9 = 45
6 * 1 = 6 	6 * 2 = 12 	6 * 3 = 18 	6 * 4 = 24 	6 * 5 = 30 	6 * 6 = 36 	6 * 7 = 42 	6 * 8 = 48 	6 * 9 = 54
7 * 1 = 7 	7 * 2 = 14 	7 * 3 = 21 	7 * 4 = 28 	7 * 5 = 35 	7 * 6 = 42 	7 * 7 = 49 	7 * 8 = 56 	7 * 9 = 63
8 * 1 = 8 	8 * 2 = 16 	8 * 3 = 24 	8 * 4 = 32 	8 * 5 = 40 	8 * 6 = 48 	8 * 7 = 56 	8 * 8 = 64 	8 * 9 = 72
9 * 1 = 9 	9 * 2 = 18 	9 * 3 = 27 	9 * 4 = 36 	9 * 5 = 45 	9 * 6 = 54 	9 * 7 = 63 	9 * 8 = 72 	9 * 9 = 81

In [10]:
for i in range(1, 10):
    for j in range(1, i+1):
        print("*", end="")
    print("\n")

*

**

***

****

*****

******

*******

********

*********

In [1]:
scores = [(1, 83), (2, 66), (3,55), (4, 70), (5,50)]

for num, score in scores:
    if score < 60:
        continue
    print("%d번 학생 축하합니다." %num)

1번 학생 축하합니다.
2번 학생 축하합니다.
4번 학생 축하합니다.

## 3.2 함수와 클래스

### 함수 만들기

In [56]:
def sum(a, b):
    res = a + b
    return res

print(sum(10, 100))

110

In [57]:
a = 1

def test(a):
    a += 1
    return a

b = test(a)
print(a)
print(b)

1
2