# 1 ~ 10

In [2]:
#1

print("Hello World")

Hello World

In [4]:
#2

print("Mary's cosmetics")

Mary's cosmetics

In [6]:
#3

print("신씨가 소리질렀다. \"도둑이야\".")

신씨가 소리질렀다. "도둑이야".

In [7]:
#4

print("C:\Windows")

C:\Windows

In [8]:
#6

print ("오늘은", "일요일")

오늘은 일요일

In [17]:
#7

print("naver;kakao;samsung")

print("naver", "kakao", "samsung", sep=";")

naver;kakao;samsung
naver;kakao;samsung

In [20]:
#8

print("naver/kakao/samsung")

print("naver", "kakao", "samsung", sep="/")

naver/kakao/samsung
naver/kakao/samsung

In [14]:
#9

print("first", end=" ");print("second")

first second

In [15]:
#10

print(5/3)

1.6666666666666667

# 11 ~ 20

In [21]:
#11

삼성전자 = 50000

print(삼성전자 * 10)

500000

In [22]:
#12

시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

In [26]:
#13

s = "hello"
t = "python"

print(s + "! " + t)

hello! python

In [27]:
#14

2 + 2 * 3

8

In [28]:
#15

a = "132"

type(a)

str

In [30]:
#16

num_str = "720"
num_str = int(num_str)

type(num_str)

int

In [34]:
#17

num = 100
num = str(100)

print(num)

100

In [36]:
#18

문자열 = "15.79"
문자열 = float(문자열)

print(문자열)
print(type(문자열))

15.79
<class 'float'>

In [37]:
#19

year = "2020"
year = int(year)

print(year-3, year-1, year)

2017 2019 2020

In [38]:
#20

월가격 = 48584
무이자 = 36
총금액 = 월가격 * 무이자

print(총금액)

1749024

# 21 ~ 30

In [39]:
#21

letters = 'python'
print(letters[0], letters[2])

p t

In [59]:
#22

license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [42]:
#23

string = "홀짝홀짝홀짝"
print(string[0::2])

홀홀홀

In [44]:
#24

string = "PYTHON"
print(string[::-1])

NOHTYP

In [50]:
#25

phone_number = "010-1111-2222"
print(phone_number.replace('-', ' '))

010 1111 2222

In [51]:
#26

print(phone_number.replace('-', ''))

01011112222

In [62]:
#27

url = "http://sharebook.kr"
#print(url[-2:])

url_split = url.split('.')
print(url_split[-1])

kr

In [63]:
#28

lang = 'python'
#lang[0] = 'P'  문자열은 수정할 수 없습니다.
print(lang)

python

In [55]:
#29

string = 'abcdfe2a354a32a'
print(string.replace('a', 'A'))

Abcdfe2A354A32A

In [56]:
#30

string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

# 31 ~ 40

In [1]:
#31

a = "3"
b = "4"
print(a + b)

34

In [2]:
#32

print("Hi" * 3)

HiHiHi

In [3]:
#33

print("-" * 80)

--------------------------------------------------------------------------------

In [7]:
#34

t1 = 'python'
t2 = 'java'

print((t1 + " " + t2 + " ") * 4)

python java python java python java python java

In [12]:
#35

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [13]:
#36


name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [15]:
#37

print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [19]:
#38

상장주식수 = "5,969,782,550"
상장주식수 = 상장주식수.replace(',', '')
상장주식수 = int(상장주식수)
print(상장주식수)

5969782550

In [23]:
#39

분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [22]:
#40

data = "   삼성전자    "
print(data.strip())

삼성전자

# 41 ~ 50

In [24]:
#41

ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

In [25]:
#42

ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

In [27]:
#43

a = "hello"
print(a.capitalize())

Hello

In [28]:
#44

file_name = "보고서.xlsx"
print(file_name.endswith('xlsx'))

True

In [37]:
#45

print(file_name.endswith(('xlsx', 'xls')))

True

In [30]:
#46

file_name = "2020_보고서.xlsx"
print(file_name.startswith('2020'))

True

In [38]:
#47

a = "hello world"
a = a.split()
print(a)

['hello', 'world']

In [33]:
#48

ticker = "btc_krw"
ticker = ticker.split('_')
print(ticker)

['btc', 'krw']

In [34]:
#49

date = "2020-05-01"
date = date.split('-')
print(date)

['2020', '05', '01']

In [35]:
#50

data = "039490     "
data = data.rstrip()
print(data)

039490

# 51 ~ 60

In [46]:
#51

movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [47]:
#52

movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [48]:
#53

movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [49]:
#54

del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [50]:
#55

del movie_rank[2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [53]:
#56

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2

print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [54]:
#57

nums = [1, 2, 3, 4, 5, 6, 7]

print(max(nums), min(nums))

7 1

In [172]:
#58

nums = [1, 2, 3, 4, 5]

print(sum(nums))

TypeError: 'int' object is not callable

In [60]:
#59

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [63]:
#60

nums = [1, 2, 3, 4, 5]
print(sum(nums) / len(nums))

3.0

# 61 ~ 70

In [64]:
#61

price = ['20180728', 100, 130, 140, 150, 160, 170]

print(price[1:])

[100, 130, 140, 150, 160, 170]

In [66]:
#62

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[0::2])

[1, 3, 5, 7, 9]

In [67]:
#63

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [74]:
#64

nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [75]:
#65

interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0::2])

['삼성전자', 'Naver']

In [77]:
#66

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [78]:
#67

print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [79]:
#68

print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [80]:
#69

string = "삼성전자/LG전자/Naver"
interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [84]:
#70

'''

sort 함수는 리스트명.sort( ) 형식으로 "리스트형의 메소드"이며
리스트 원본값을 직접 수정합니다.
sorted 함수는 sorted( 리스트명 ) 형식으로
"내장 함수"이며 리스트 원본 값은 그대로이고 정렬 값을 반환합니다.

'''

data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

# 71 ~ 80

In [98]:
#71

my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [97]:
#72

movie_rank = ("닥터 스트레인지", "스플릿", "럭키")
print(type(movie_rank))

<class 'tuple'>

In [100]:
#73

a = (1, )
print(type(a))

<class 'tuple'>

In [88]:
#75

t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [122]:
#76

t = ('a', 'b', 'c')
t_list = list(t)
t_list = ''.join(t_list)
t_list = t_list.capitalize()
t = tuple(t_list)
print(t)

('A', 'b', 'c')

In [115]:
#77

interest = ('삼성전자', 'LG전자', 'SK Hynix')
l = list(interest)
print(type(l))
print(l)

<class 'list'>
['삼성전자', 'LG전자', 'SK Hynix']

In [116]:
#78

interest = ['삼성전자', 'LG전자', 'SK Hynix']
tu = tuple(interest)
print(type(tu))
print(tu)

<class 'tuple'>
('삼성전자', 'LG전자', 'SK Hynix')

In [117]:
#79

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [123]:
#80

tu = tuple(range(2, 99, 2))
print(tu)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 81 ~ 90

In [126]:
#81

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, a, b = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [127]:
#84

temp = {}
type(temp)

dict

In [130]:
#85

ice = {"메로나" : 1000, "폴라포" : 1200, "빵빠레" : 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [133]:
#86

ice["죠스바"] = 1200
ice["월드콘"] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [137]:
#87

print(ice["메로나"])

1000

In [139]:
#88

ice["메로나"] = 1300
print(ice)

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [140]:
#89

del ice["메로나"]
print(ice)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

# 91 ~ 100

In [141]:
#91

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

In [146]:
#92

print(inventory["메로나"][0])

300

In [147]:
#94

inventory["월드콘"] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [149]:
#95

ice_list = list(inventory.keys())

print(ice_list)

['메로나', '비비빅', '죠스바', '월드콘']

In [150]:
#97

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
합 = sum(icecream.values())
print(합)

6700

In [151]:
#98

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [155]:
#99

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys, vals))
#result = {keys[0] : vals[0], keys[1] : vals[1], keys[2] : vals[2]}
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

# 111 ~ 120

In [1]:
#111

user = input("입력: ")
print(user * 2)

입력: 안녕하세요
안녕하세요안녕하세요

In [2]:
#112

user = input("숫자를 입력하세요: ")
print(10 + int(user))

숫자를 입력하세요: 50
60

In [4]:
#117

fruit = ["사과", "포도", "홍시"]

like = input("좋아하는 과일은? ")

if like in fruit:
    print("정답입니다.")
else:
    print("정답아님.")

좋아하는 과일은? 키위
정답아님.

In [6]:
#119

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

like = input("좋아하는 과일은? ")

if like in fruit:
    print("정답입니다.")
else:
    print("정답아님.")

좋아하는 과일은? 이이
정답아님.

In [10]:
#120

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

like = input("좋아하는 과일은? ")

val = fruit.values()

if like in val:
    print("정답입니다.")
else:
    print("정답아님.")

좋아하는 과일은? da
정답아님.

# 121 ~ 130

In [16]:
#123

dic = {
    "달러" : 1167,
    "엔" : 1.096,
    "유로" : 1268,
    "위안" : 171
}

money = input("입력: ")
money = money.split(' ')

print(float(money[0]) * dic[money[1]], "원")

입력: 100 달러
116700.0 원

In [20]:
num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

a = [num1, num2, num3]

print(max(a))

'''
if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)
'''

input number1: 100
input number2: 20000
input number3: 2
20000

# 131 ~ 140

In [28]:
#136

리스트 = [10, 20, 30]

for 변수 in 리스트:
    print(변수)

10
20
30

# 141 ~ 150

In [29]:
#141

리스트 = [100, 200, 300]

for i in 리스트:
    print(i+10)

110
210
310

# 151 ~ 160

In [23]:
#151

리스트 = [3, -20, -3, 44]

for i in 리스트:
    if i < 0:
        print(i)

-20
-3

In [30]:
#152

리스트 = [3, 100, 23, 44]

for i in 리스트:
    if i % 3 == 0:
        print(i)

3

In [31]:
#154

리스트 = ["I", "study", "python", "language", "!"]

for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [32]:
#155

리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.isupper() == True:
        print(i)

A
D

In [33]:
#158

리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for i in 리스트:
    a = i.split('.')
    print(a[0])

hello
ex01
intro

# 161 ~ 170

In [39]:
for i in range(1, 100):
    #print(i)

IndentationError: expected an indented block (1871522782.py, line 2)

# 181 ~ 190

In [41]:
#181

a = [["101호", "102호"], ["201호", "202호"], ["301호", "302호"]]
print(a)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [42]:
#182

stock = [["시가", 100, 200, 300], ["종가", 80, 210, 330]]
print(stock)

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [44]:
#183

stock = {
    "시가" : [100, 200, 300],
    "종가" : [80, 210, 330]
}
print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [59]:
#185

apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(j)

101
102
201
202
301
302

# 191 ~ 200

In [68]:
#191

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j + (j * 0.014))

2028.0
3092.7
2078.7
2007.72
7605.0
2078.7
2078.7
2007.72
15666.3
15260.7
15767.7
15108.6

In [80]:
#195

ohlc = [
    ["open", "high", "low", "close"],
    [100, 110, 70, 100],
    [200, 210, 180, 190],
    [300, 310, 300, 310]
]

for i in ohlc[1:]:
    print(i[3])

100
190
310

In [81]:
#196

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] > 150:
        print(i[3])

190
310

# 201 ~ 210

In [82]:
def coin():
    print("비트코인")

coin()

비트코인

# 221 ~ 230

In [92]:
#224

def print_keys(inp):
    for i in inp.keys():
        print(i)

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [93]:
#225

def print_value_by_key(inp1, inp2):
    print(inp1[inp2])
        

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [99]:
#226

def print_5xn(line):
    chunk_num = int(len(line) / 5)
    for x in range(chunk_num + 1) :
        print(line[x * 5: x * 5 + 5])

print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

# 231 ~ 240

In [117]:
#233

def make_list(inp):
    a = []
    for i in inp:
        a.append(i)
        
    return a

print(make_list("abcd"))

['a', 'b', 'c', 'd']